In [9]:
import pandas as pd
import numpy as np
from datetime import datetime
import random

In [10]:
flights = pd.read_csv('flights.csv')
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')

C:\Users\Wendy\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

This notebook used '2015 Flight Delays and Cancellations' data at Kaggle: https://www.kaggle.com/usdot/flight-delays. 

There are three sources under this Kaggle dataset:
   1. **flights** contains all US domestic flights in 2015. 

    Note: 
    1. the **flights** dataset is very large, with 5,819,079 records. For the effeciency of processing in Python and in Tableau, I randomly sampled 10,000 records and performed data cleaning.
    2. the **flights** dataset has inconsistency issue while encoding airports. In October, the airports are encoded in 5-digit numbers (12892) rather than 3-digit letters (ABE). Here I used this kernel by Scott Cole https://www.kaggle.com/srcole/fix-inconsistent-airport-codes to fix the inconsistency issue.  
      
   
   2. **airlines** contains airline IATA code (e.g. UA) and corresponding airline names(e.g. United Airlines Inc.). 
   3. **airports** contains airport IATA code (e.g. ABE) and corresponding airport geographical information.

## Flight Dataset

### Flight Note 1, sample 10,000 records and clean.

In [103]:
random.seed(72)

In [104]:
df_f1 = pd.DataFrame(flights.sample(10000))

In [105]:
df_f1.head().transpose()

                    2532806 2325680 1474881 2773425 2558091
YEAR                   2015    2015    2015    2015    2015
MONTH                     6       5       4       6       6
DAY                       9      28       5      24      11
DAY_OF_WEEK               2       4       7       3       4
AIRLINE                  US      HA      DL      WN      WN
FLIGHT_NUMBER           851     121    2110    4031     572
TAIL_NUMBER          N184US  N477HA  N988DL  N209WN  N627SW
ORIGIN_AIRPORT          PHL     ITO     DFW     OAK     BNA
DESTINATION_AIRPORT     DEN     HNL     ATL     SAN     DAL
SCHEDULED_DEPARTURE    1845     849    1315     620     955
DEPARTURE_TIME         1838     852    1322     620     959
DEPARTURE_DELAY          -7       3       7       0       4
TAXI_OUT                 22       6      15      13      11
WHEELS_OFF             1900     858    1337     633    1010
SCHEDULED_TIME          263      50     125      90     110
ELAPSED_TIME            278      47     117      85      98
AIR_TIME                247      34      95      69      81
DISTANCE               1558     216     731     446     623
WHEELS_ON              2107     932    1612     742    1131
TAXI_IN                   9       7       7       3       6
SCHEDULED_ARRIVAL      2108     939    1620     750    1145
ARRIVAL_TIME           2116     939    1619     745    1137
ARRIVAL_DELAY             8       0      -1      -5      -8
DIVERTED                  0       0       0       0       0
CANCELLED                 0       0       0       0       0
CANCELLATION_REASON     NaN     NaN     NaN     NaN     NaN
AIR_SYSTEM_DELAY        NaN     NaN     NaN     NaN     NaN
SECURITY_DELAY          NaN     NaN     NaN     NaN     NaN
AIRLINE_DELAY           NaN     NaN     NaN     NaN     NaN
LATE_AIRCRAFT_DELAY     NaN     NaN     NaN     NaN     NaN
WEATHER_DELAY           NaN     NaN     NaN     NaN     NaN

Check the completeness of the sampled dataset.

In [106]:
(len(df_f1) - df_f1.isna().sum())/len(df_f1)*100

YEAR                   100.00
MONTH                  100.00
DAY                    100.00
DAY_OF_WEEK            100.00
AIRLINE                100.00
FLIGHT_NUMBER          100.00
TAIL_NUMBER             99.75
ORIGIN_AIRPORT         100.00
DESTINATION_AIRPORT    100.00
SCHEDULED_DEPARTURE    100.00
DEPARTURE_TIME          98.21
DEPARTURE_DELAY         98.21
TAXI_OUT                98.16
WHEELS_OFF              98.16
SCHEDULED_TIME         100.00
ELAPSED_TIME            97.92
AIR_TIME                97.92
DISTANCE               100.00
WHEELS_ON               98.11
TAXI_IN                 98.11
SCHEDULED_ARRIVAL      100.00
ARRIVAL_TIME            98.11
ARRIVAL_DELAY           97.92
DIVERTED               100.00
CANCELLED              100.00
CANCELLATION_REASON      1.86
AIR_SYSTEM_DELAY        18.30
SECURITY_DELAY          18.30
AIRLINE_DELAY           18.30
LATE_AIRCRAFT_DELAY     18.30
WEATHER_DELAY           18.30
dtype: float64

In [117]:
##Drop Tail_Number which we do not need.
df_f1 = df_f1.drop(columns = ['TAIL_NUMBER'])

Why there are so many missing values in *CANCELLATION_REASON* and 5 delay reasons? Thanks to the kernel by DSEverything https://www.kaggle.com/dongxu027/airline-delays-eda-deep-dive-lessons-learned/notebook, only cancelled flights have cancelation reasons. Only flights that arrived late for more than 15 minutes would be treated as delayed flights and have delay reasons.

In [118]:
delayed_flights = df_f1[(df_f1['ARRIVAL_DELAY'] >= 15)]

In [119]:
len(delayed_flights)/10000

0.183

0.183 matches with the completion rate of delay reasons (*AIR_SYSTEM_DELAY*, *SECURITY_DELAY*, *AIRLINE_DELAY*, *LATE_AIRCRAFT_DELAY* and *WEATHER_DELAY*. Confirms that only delayed flights have delay reason.

In [120]:
cancelled_flights = df_f1[df_f1['CANCELLED'] == 1]

In [121]:
len(cancelled_flights)/10000

0.0186

0.0186 matches with the completion rate of cancellation reasons. Comfirms that only cancelled flights have cancellation reason.

The missing values in other columns might be a result of cancelled flights too. If a flight is cancelled, then it should not have any departure time/ arrival time. Some flights even made to the runway and even took off (UA249 at 2015/11/20 and WN4568 at 2015/6/1) but got cancelled shortly. The departure time and departure delay does not really have any meaning and might affact the delay time calculation later on. Therefore, I replaced the value of *DEPARTURE_TIME*, *DEPARTURE_DELAY*, *TAXI_OUT* and *WHEELS_OFF* with NA.

In [128]:
cancelled_flights.isna().sum()

YEAR                     0
MONTH                    0
DAY                      0
DAY_OF_WEEK              0
AIRLINE                  0
FLIGHT_NUMBER            0
ORIGIN_AIRPORT           0
DESTINATION_AIRPORT      0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME         179
DEPARTURE_DELAY        179
TAXI_OUT               184
WHEELS_OFF             184
SCHEDULED_TIME           0
ELAPSED_TIME           186
AIR_TIME               186
DISTANCE                 0
WHEELS_ON              186
TAXI_IN                186
SCHEDULED_ARRIVAL        0
ARRIVAL_TIME           186
ARRIVAL_DELAY          186
DIVERTED                 0
CANCELLED                0
CANCELLATION_REASON      0
AIR_SYSTEM_DELAY       186
SECURITY_DELAY         186
AIRLINE_DELAY          186
LATE_AIRCRAFT_DELAY    186
WEATHER_DELAY          186
dtype: int64

In [133]:
cancelled_flights[cancelled_flights['WHEELS_OFF'].notnull()].transpose()

                    5189991 2399226
YEAR                   2015    2015
MONTH                    11       6
DAY                      20       1
DAY_OF_WEEK               5       1
AIRLINE                  UA      WN
FLIGHT_NUMBER           249    4568
ORIGIN_AIRPORT          IAH     PBI
DESTINATION_AIRPORT     MFE     BWI
SCHEDULED_DEPARTURE    2135    1825
DEPARTURE_TIME         2208    1822
DEPARTURE_DELAY          33      -3
TAXI_OUT                 17     107
WHEELS_OFF             2225    2009
SCHEDULED_TIME           76     150
ELAPSED_TIME            NaN     NaN
AIR_TIME                NaN     NaN
DISTANCE                316     883
WHEELS_ON               NaN     NaN
TAXI_IN                 NaN     NaN
SCHEDULED_ARRIVAL      2251    2055
ARRIVAL_TIME            NaN     NaN
ARRIVAL_DELAY           NaN     NaN
DIVERTED                  0       0
CANCELLED                 1       1
CANCELLATION_REASON       B       B
AIR_SYSTEM_DELAY        NaN     NaN
SECURITY_DELAY          NaN     NaN
AIRLINE_DELAY           NaN     NaN
LATE_AIRCRAFT_DELAY     NaN     NaN
WEATHER_DELAY           NaN     NaN

(feel sorry for passengers of WN4568 at 2015/6/1, sat in the plane on the runway for 107 minutes and then got cancelled due to weather:(

In [140]:
cancelled_flights[cancelled_flights['DEPARTURE_DELAY'].notnull()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2057355,2015,5,11,1,EV,4403,CMH,IAH,1441,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
2285743,2015,5,25,1,EV,4367,IAH,MCI,1915,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5189991,2015,11,20,5,UA,249,IAH,MFE,2135,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
1270577,2015,3,23,1,MQ,3438,DFW,CVG,1950,NaN,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5750617,2015,12,27,7,EV,4540,IAH,PNS,1535,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
2399226,2015,6,1,1,WN,4568,PBI,BWI,1825,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
882925,2015,2,27,5,MQ,3090,DFW,LCH,1805,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN

In [141]:
cancelled_flights.loc[2057355,'DEPARTURE_TIME'] = None
cancelled_flights.loc[2285743,'DEPARTURE_TIME'] = None
cancelled_flights.loc[5189991,'DEPARTURE_TIME'] = None
cancelled_flights.loc[1270577,'DEPARTURE_TIME'] = None
cancelled_flights.loc[5750617,'DEPARTURE_TIME'] = None
cancelled_flights.loc[2399226,'DEPARTURE_TIME'] = None
cancelled_flights.loc[882925,'DEPARTURE_TIME'] = None
cancelled_flights.loc[2057355,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[2285743,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[5189991,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[1270577,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[5750617,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[2399226,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[882925,'DEPARTURE_DELAY'] = None
cancelled_flights.loc[5189991,'TAXI_OUT'] = None
cancelled_flights.loc[5189991,'WHEELS_OFF'] = None
cancelled_flights.loc[2399226,'TAXI_OUT'] = None
cancelled_flights.loc[2399226,'WHEELS_OFF'] = None

In [143]:
cancelled_flights.isna().sum()

YEAR                     0
MONTH                    0
DAY                      0
DAY_OF_WEEK              0
AIRLINE                  0
FLIGHT_NUMBER            0
ORIGIN_AIRPORT           0
DESTINATION_AIRPORT      0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME         186
DEPARTURE_DELAY        186
TAXI_OUT               186
WHEELS_OFF             186
SCHEDULED_TIME           0
ELAPSED_TIME           186
AIR_TIME               186
DISTANCE                 0
WHEELS_ON              186
TAXI_IN                186
SCHEDULED_ARRIVAL        0
ARRIVAL_TIME           186
ARRIVAL_DELAY          186
DIVERTED                 0
CANCELLED                0
CANCELLATION_REASON      0
AIR_SYSTEM_DELAY       186
SECURITY_DELAY         186
AIRLINE_DELAY          186
LATE_AIRCRAFT_DELAY    186
WEATHER_DELAY          186
dtype: int64

Now take a look of not cancelled flights. Remove the records if there is NA in any column other than delay reason/ cancel reason.

In [144]:
Not_cancelled_flights = df_f1[df_f1['CANCELLED'] == 0]

In [145]:
Not_cancelled_flights.isna().sum()

YEAR                      0
MONTH                     0
DAY                       0
DAY_OF_WEEK               0
AIRLINE                   0
FLIGHT_NUMBER             0
ORIGIN_AIRPORT            0
DESTINATION_AIRPORT       0
SCHEDULED_DEPARTURE       0
DEPARTURE_TIME            0
DEPARTURE_DELAY           0
TAXI_OUT                  0
WHEELS_OFF                0
SCHEDULED_TIME            0
ELAPSED_TIME             22
AIR_TIME                 22
DISTANCE                  0
WHEELS_ON                 3
TAXI_IN                   3
SCHEDULED_ARRIVAL         0
ARRIVAL_TIME              3
ARRIVAL_DELAY            22
DIVERTED                  0
CANCELLED                 0
CANCELLATION_REASON    9814
AIR_SYSTEM_DELAY       7984
SECURITY_DELAY         7984
AIRLINE_DELAY          7984
LATE_AIRCRAFT_DELAY    7984
WEATHER_DELAY          7984
dtype: int64

In [148]:
Not_cancelled_flights2 = Not_cancelled_flights.dropna(subset = ['DEPARTURE_TIME','DEPARTURE_DELAY',\
                                                                 'TAXI_OUT','WHEELS_OFF', 'ELAPSED_TIME','AIR_TIME',\
                                                                 'WHEELS_ON','TAXI_IN','ARRIVAL_TIME','ARRIVAL_DELAY'])

In [149]:
Not_cancelled_flights2.isna().sum()

YEAR                      0
MONTH                     0
DAY                       0
DAY_OF_WEEK               0
AIRLINE                   0
FLIGHT_NUMBER             0
ORIGIN_AIRPORT            0
DESTINATION_AIRPORT       0
SCHEDULED_DEPARTURE       0
DEPARTURE_TIME            0
DEPARTURE_DELAY           0
TAXI_OUT                  0
WHEELS_OFF                0
SCHEDULED_TIME            0
ELAPSED_TIME              0
AIR_TIME                  0
DISTANCE                  0
WHEELS_ON                 0
TAXI_IN                   0
SCHEDULED_ARRIVAL         0
ARRIVAL_TIME              0
ARRIVAL_DELAY             0
DIVERTED                  0
CANCELLED                 0
CANCELLATION_REASON    9792
AIR_SYSTEM_DELAY       7962
SECURITY_DELAY         7962
AIRLINE_DELAY          7962
LATE_AIRCRAFT_DELAY    7962
WEATHER_DELAY          7962
dtype: int64

Finally, union cancelled and not cancelled fligts.

In [150]:
df_f1_cleaned = pd.concat([Not_cancelled_flights2,cancelled_flights],ignore_index=True )

In [151]:
df_f1_cleaned.shape

(9978, 30)

### Flight Note 2, Fix the inconsistancy of airport codes.

In [110]:
##A quick look of the inconsistancy code problem. 
##Some airports are encoded in 'ANC' or 'LAX', but others are encoded in '14717'.
flights['ORIGIN_AIRPORT'].unique()

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'MAF', 'DFW', 'MKE',
       'IAH', 'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'SGF', 'PHL', 'SBN',
       'RDD', 'EUG', 'IAD', 'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT',
       'SMF', 'AUS', 'MCI', 'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA',
       'SAT', 'CHS', 'SBA', 'SMX', 'IND', 'CLE', 'GSP', 'BDL', 'ABI',
       'RIC', 'BFL', 'OMA', 'RDM', 'FLL', 'CID', 'TPA', 'SYR', 'ROC',
       'TYR', 'LAN', 'XNA', 'GSO', 'EWR', 'PBI', 'RSW', 'OAK', 'PVD',
       'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'LGA', 'TUL', 'LIT', 'MSY',
       'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT', 'SAV', 'CLT', 'GRB',
       'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX', 'CWA', 'MSO', 'TTN',
       'AMA', 'CLL', 'HOU', 'JLN', 'MLI', 'RDU', 'CVG', 'MHK', 'MOB',
       'TLH', 'BHM', 'CAE', 'TXK', 'ACY', 'DTW', 'RAP', 'TUS', 'EAU',
       'DLH', 'FSD', 'INL', 'CMX', 'SPI', 'CLD', 'COD', 'CMH', 'LRD',
       'PSC', 'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP',
       'MFE', 'STL', 'BTV', 'FSM', 'AEX', 'SPS', 'ACT', 'SJT', 'MTJ',
       'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT', 'MLU', 'KOA', 'SAN',
       'LAW', 'PIB', 'MGM', 'SBP', 'COS', 'LAR', 'DRO', 'BIS', 'ITO',
       'BTR', 'GRI', 'HLN', 'BZN', 'MDW', 'MDT', 'SCE', 'LIH', 'TWF',
       'BPT', 'GPT', 'STC', 'HPN', 'MLB', 'PLN', 'CIU', 'CAK', 'DSM',
       'BLI', 'SHV', 'ROW', 'FWA', 'SNA', 'ALB', 'HOB', 'LNK', 'CMI',
       'COU', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'SAF', 'GRR', 'SUX',
       'LFT', 'HYS', 'ELP', 'DVL', 'ISP', 'BUR', 'DAB', 'DAY', 'GRK',
       'GJT', 'BMI', 'LBE', 'ASE', 'RKS', 'GUM', 'TVC', 'ALO', 'IMT',
       'LCH', 'JNU', 'JAC', 'MEI', 'DBQ', 'GCK', 'GNV', 'BRD', 'DIK',
       'SDF', 'LBB', 'AVP', 'BTM', 'ELM', 'PIH', 'ICT', 'SUN', 'LWS',
       'VEL', 'STT', 'YUM', 'FLG', 'FCA', 'HDN', 'JMS', 'ROA', 'CHA',
       'EYW', 'MYR', 'CRW', 'MQT', 'CHO', 'ECP', 'EVV', 'EGE', 'MBS',
       'GFK', 'TOL', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM', 'PUB', 'RHI',
       'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'APN', 'AGS', 'CEC',
       'DHN', 'WRG', 'PHF', 'CNY', 'BRW', 'GGG', 'AZO', 'SRQ', 'ORH',
       'TRI', 'VLD', 'SIT', 'BQK', 'PSG', 'FAY', 'MKG', 'CSG', 'EWN',
       'OME', 'SGU', 'RST', 'GTR', 'BET', 'ABY', 'SWF', 'ILG', 'ADK',
       'UST', 'YAK', 'CDV', 'OTH', 'ADQ', 'PPG', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '11695', '16218', '14113', '11624', '11503',
       '10739', '14574', '14711', '12129', '15070', '14520', '13184',
       '11252', '12280', '13241', '11898', '15024', '14674', '10551',
       '12819', '13459', '10581', '13970', '10372', '10918', '14709',
       '12255', 11267, 12266, 10821, 14771, 11433, 11982, 11905, 15411,
       14679, 14108, 10397, 13871, 11618, 14574, 10423, 11259, 10800,
       11140, 12191, 12889, 13198, 10529, 10693, 13232, 11540, 14570,
       14635, 14831, 11298, 13204, 11278, 14100, 12892, 12478, 13930,
       15304, 14107, 12523, 12954, 11697, 14057, 12339, 13487, 14893,
       11986, 11292, 14576, 15370, 12402, 14908, 12953, 12758, 15016,
       10721, 12264, 10685, 11612, 13277, 11057, 12891, 12197, 11193,
       13495, 13891, 13244, 14843, 14747, 11996, 10333, 14262, 11695,
       13342, 14698, 10431, 15376, 12451, 14524, 13830, 13796, 14122,
       14960, 16218, 10713, 11066, 10208, 14683, 14869, 14492, 11638,
       11413, 10792, 10408, 14689, 10980, 14952, 12951, 15323, 11884,
       14307, 14730, 14783, 11603, 11977, 11921, 13577, 13061, 13851,
       11042, 12448, 12992, 10874, 12896, 11308, 12173, 12206, 13377,
       10747, 13256, 13303, 10185, 10599, 10140, 15295, 11898, 13795,
       10728, 10994, 12391, 10299, 12217, 13290, 12007, 11109, 15096,
       10627, 13433, 15249, 12278, 12915, 11637, 13931, 13485, 11721,
       11775, 13476, 15841, 14027, 15380, 12945, 11315, 15919, 13360,
       10868, 14986, 12982, 10279, 11150, 13264, 14193, 11823, 13367,
       10469, 11423, 11337, 11252, 13029, 14696, 11049, 13296, 14685,
       13158, 12323, 10257, 14588, 11274, 13344, 13933, 15412, 13422,
       11146, 15991, 13230, 14794, 11003, 14828, 10781, 10990, 10785,
       10434, 14457, 11481, 11537, 10136, 14814, 10754, 10135, 10731,
       13127, 14321, 10849, 14098, 10146, 15607, 11624, 12177, 10158,
       12884, 15624, 14256, 11973, 14842, 15356, 10561, 14113, 15389,
       14489, 12094, 12888, 13076, 12129, 13873, 10157, 11995, 10631,
       12441, 12343, 14252, 11097, 10732, 10154, 11122, 11641, 13486,
       12003, 10620, 10779, 12335, 11076, 15041, 12156, 12280, 10926,
       12819, 11865, 12519, 11778, 10551, 12389, 11953, 12898, 15024,
       10155, 11013, 10372, 11587, 13964, 11980, 11630, 11648, 14905,
       11525, 15070, 11471, 11111, 14633, 11447, 11203, 13241, 12511,
       11067, 10268, 13184, 10141, 13541, 14150, 15027, 14109, 15048,
       14006, 10739, 14520, 11617, 14487, 11867, 14674, 14543, 10577,
       10170, 11577, 14709, 14711, 12255, 10165, 10918, 15401, 13970,
       15497, 12265, 14254, 10581, 12016, 11503, 13459, 14222, 14025,
       13502, '15841', '13344', '15991', '10754', '14256', '13873',
       '11097', '10926', '13964', '11905', '15027', '13933', '10170',
       '10333', '14222', '14025', '13502', '15497', '12265'], dtype=object)

Now I am fixing this inconsistency issue using the method from Scott Cole's kernel. Basically, what the code does is to match 5-digit codes with 3-digit codes, then replace 5-digit codes with 3-digit codes.   
  
This process need two extra files: **L_AIRPORT.csv** and **L_AIRPORT_ID.csv**. The first one is the 3-digit codes and the second is the 5-digit codes. The original data of those two files is listed on the website of Bureau of Transportation Statistics.   
  
The official 5-digit code from Bureau of Transportation Statistics is here:  
https://www.transtats.bts.gov/FieldInfo.asp?Field_Desc=Origin%20Airport%2C%20Airport%20ID.%20An%20identification%20number%20assigned%20by%20US%20DOT%20to%20identify%20a%20unique%20airport.%20%20Use%20this%20field%20for%20airport%20analysis%20across%20a%20range%20of%20years%20because%20an%20airport%20can%20change%20its%20airport%20code%20and%20airport%20codes%20can%20be%20reused.&Field_Type=Num&Lookup_Table=L_AIRPORT_ID&Table_ID=293&SYS_Table_Name=T_T100_SEGMENT_ALL_CARRIER&Sys_Field_Name=ORIGIN_AIRPORT_ID
The official 3-digit code from Bureau of Transportation Statistics is here:  
https://www.bts.gov/topics/airlines-and-airports/world-airport-codes   
  
Note: The fixing process is very time-consuming. It' better to just perform the process on the cleaned sample dataset than the whole dataset (which will take about 100+ hours to perform in my computer:(

In [152]:
##Read in 3-digit code and 5-digit code file
df_aircode1 = pd.read_csv('L_AIRPORT.csv')
df_aircode2 = pd.read_csv('L_AIRPORT_ID.csv')

In [153]:
##Create a dictionary to match 3-digit code and 5-digit code
df_aircode1 = df_aircode1.reset_index()
df_aircode2 = df_aircode2.reset_index()
df_aircodes = pd.merge(df_aircode1,df_aircode2,on='Description')
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [154]:
aircode_dict

{'10001': '01A',
 '10003': '03A',
 '10004': '04A',
 '10005': '05A',
 '10006': '06A',
 '10007': '07A',
 '10008': '08A',
 '10009': '09A',
 '10010': '1B1',
 '10011': 'DQR',
 '11398': 'DQR',
 '10012': '1N7',
 '16571': '1NY',
 '16429': '6B0',
 '16567': '7AK',
 '10013': '8F3',
 '10014': 'A01',
 '10015': 'A02',
 '10016': 'A03',
 '10017': 'A04',
 '10018': 'A05',
 '10019': 'A06',
 '10020': 'A07',
 '10021': 'A08',
 '10022': 'A09',
 '10024': 'A11',
 '10025': 'A12',
 '10026': 'A13',
 '10027': 'A14',
 '10028': 'A15',
 '10029': 'A16',
 '10030': 'A17',
 '10031': 'A18',
 '16668': 'A1K',
 '10033': 'DQH',
 '11388': 'DQH',
 '10034': 'A21',
 '10035': 'A22',
 '10036': 'A23',
 '10037': 'A24',
 '10038': 'A25',
 '10039': 'A26',
 '10040': 'A27',
 '10041': 'A28',
 '10042': 'A29',
 '10770': 'BSZ',
 '10043': 'A30',
 '10044': 'A31',
 '10047': 'A34',
 '11828': 'A35',
 '10049': 'A36',
 '10050': 'A37',
 '10051': 'A38',
 '10052': 'A39',
 '16696': 'A3K',
 '10053': 'A40',
 '10054': 'A41',
 '10055': 'A42',
 '10056': 'A43',
 '10058': 'A45',
 '10059': 'A46',
 '10060': 'A47',
 '10061': 'A48',
 '10062': 'A49',
 '16698': 'A4K',
 '10063': 'A50',
 '10064': 'A51',
 '10065': 'A52',
 '10066': 'A53',
 '10067': 'A54',
 '10069': 'A56',
 '10070': 'VZK',
 '10071': 'A58',
 '10072': 'A59',
 '10074': 'A61',
 '10075': 'A62',
 '10076': 'A63',
 '10078': 'A65',
 '10079': 'A66',
 '10080': 'A67',
 '10082': 'A69',
 '16720': 'A6K',
 '10083': 'A70',
 '10084': 'A71',
 '10085': 'A72',
 '10086': 'A73',
 '10087': 'A74',
 '10088': 'A75',
 '10089': 'A76',
 '10090': 'A77',
 '10091': 'A78',
 '10092': 'A79',
 '16723': 'A7K',
 '10093': 'A80',
 '10094': 'A81',
 '10095': 'A82',
 '10096': 'A83',
 '10097': 'A84',
 '10098': 'A85',
 '10100': 'A87',
 '10102': 'A89',
 '10103': 'A90',
 '10104': 'A91',
 '10105': 'A92',
 '10106': 'A93',
 '10107': 'A96',
 '10108': 'A96',
 '10109': 'A96',
 '10110': 'A97',
 '10111': 'A98',
 '10112': 'A99',
 '10113': 'AA1',
 '16662': 'AA2',
 '10116': 'AA4',
 '10117': 'AA5',
 '16472': 'AA7',
 '11381': 'AA8',
 '10118': 'AAA',
 '10119': 'AAB',
 '10120': 'AAC',
 '16385': 'AAD',
 '10121': 'AAE',
 '10122': 'AAF',
 '10123': 'AAH',
 '10124': 'AAI',
 '10125': 'AAL',
 '10126': 'AAM',
 '10127': 'AAN',
 '10128': 'AAO',
 '10129': 'AAQ',
 '10130': 'AAR',
 '10131': 'AAU',
 '10132': 'AAX',
 '16387': 'ABA',
 '10134': 'ABD',
 '10135': 'ABE',
 '10136': 'ABI',
 '10137': 'ABJ',
 '10138': 'ABK',
 '10139': 'ABL',
 '10140': 'ABQ',
 '10141': 'ABR',
 '10142': 'ABS',
 '10143': 'ABT',
 '10144': 'ABV',
 '10145': 'ABX',
 '10146': 'ABY',
 '10147': 'ABZ',
 '10148': 'ACA',
 '10149': 'ACB',
 '10150': 'ACC',
 '10151': 'ACE',
 '10152': 'ACH',
 '10153': 'ACI',
 '10154': 'ACK',
 '10155': 'ACT',
 '10156': 'ACU',
 '10157': 'ACV',
 '10158': 'ACY',
 '10159': 'ADA',
 '10160': 'ADB',
 '10161': 'ADC',
 '10162': 'ADD',
 '10163': 'ADE',
 '10164': 'ADJ',
 '10165': 'ADK',
 '10166': 'ADL',
 '10167': 'ADM',
 '10168': 'ADN',
 '10169': 'ADO',
 '10170': 'ADQ',
 '10171': 'ADS',
 '16426': 'ADT',
 '10172': 'NSF',
 '13748': 'NSF',
 '10173': 'ADX',
 '10174': 'ADZ',
 '16592': 'AE1',
 '10176': 'AED',
 '10177': 'AEG',
 '10178': 'AEH',
 '10180': 'AEO',
 '10181': 'AEP',
 '10182': 'AER',
 '10183': 'AES',
 '10184': 'AET',
 '10185': 'AEX',
 '10186': 'AEY',
 '16461': 'AF2',
 '16557': 'AF3',
 '16559': 'AF4',
 '10188': 'AFA',
 '10189': 'AFF',
 '10190': 'AFK',
 '10191': 'AFO',
 '10192': 'AFP',
 '10194': 'AFW',
 '10195': 'AFY',
 '10196': 'AGA',
 '10197': 'AGB',
 '10198': 'AGC',
 '10199': 'AGF',
 '10200': 'AGG',
 '10201': 'AGH',
 '10202': 'AGK',
 '10203': 'AGL',
 '10204': 'AGN',
 '10205': 'AGP',
 '10206': 'AGQ',
 '10207': 'AGR',
 '10208': 'AGS',
 '10209': 'AGT',
 '10210': 'AGU',
 '10211': 'AGV',
 '10212': 'AGX',
 '10213': 'AHA',
 '10214': 'AHB',
 '10215': 'AHD',
 '10216': 'AHN',
 '10217': 'AHO',
 '10218': 'AHS',
 '10219': 'AHT',
 '10220': 'AHU',
 '10221': 'AIA',
 '10222': 'AIB',
 '10223': 'AID',
 '10224': 'AIK',
 '10225': 'AIN',
 '10226': 'AIT',
 '10227': 'AIY',
 '10228': 'AIZ',
 '10229': 'AJA',
 '10230': 'AJF',
 '10231': 'AJJ',
 '10232': 'AJL',
 '10233': 'AJN',
 '10234': 'AJR',
 '10235': 'AJU',
 '10236': 'AJY',
 '16489': 'AK1',
 '16490': 'AK2',
 '16505': 'AK3',
 '16508': 'AK4',
 '16580': 'AK5',
 '16581': 'AK6',
 '16584': 'AK7',
 '16621': 'AK8',
 '16630': 'AK9',
 '10237': 'AKB',
 '10238': 'AKC',
 '10239': 'AKF',
 '15949': 'AKH',
 '10241': 'AKI',
 '10242': 'AKJ',
 '10243': 'AKK',
 '10244': 'AKL',
 '10245': 'AKN',
 '10246': 'AKO',
 '10247': 'AKP',
 '10248': 'AKR',
 '10249': 'AKS',
 '10250': 'AKT',
 '10251': 'AKX',
 '10252': 'AKY',
 '10253': 'AL1',
 '10254': 'AL2',
 '10255': 'AL3',
 '16423': 'AL4',
 '16455': 'AL5',
 '16497': 'AL6',
 '16669': 'AL7',
 '16737': 'AL8',
 '10256': 'ALA',
 '10257': 'ALB',
 '10258': 'ALC',
 '10259': 'ALE',
 '10260': 'ALF',
 '10261': 'ALG',
 '10262': 'ALH',
 '10263': 'ALI',
 '10264': 'ALJ',
 '10265': 'ALK',
 '10266': 'ALM',
 '10267': 'ALN',
 '10268': 'ALO',
 '10269': 'ALP',
 '10270': 'ALQ',
 '10271': 'ALR',
 '10272': 'ALS',
 '10273': 'ALT',
 '10274': 'ALU',
 '10275': 'ALW',
 '10276': 'ALX',
 '10277': 'ALY',
 '10278': 'ALZ',
 '10279': 'AMA',
 '10280': 'AMD',
 '10281': 'AMF',
 '10282': 'AMG',
 '10283': 'AMH',
 '10284': 'AMI',
 '10285': 'AMK',
 '10286': 'AML',
 '10287': 'AMM',
 '10288': 'AMN',
 '10289': 'AMO',
 '10290': 'AMP',
 '10291': 'AMQ',
 '10292': 'AMS',
 '10294': 'AMW',
 '10295': 'AMX',
 '10296': 'AMY',
 '10297': 'ANA',
 '10298': 'ANB',
 '10299': 'ANC',
 '10300': 'AND',
 '10301': 'ANE',
 '10302': 'ANF',
 '10303': 'ANG',
 '10304': 'ANI',
 '10305': 'ANK',
 '10306': 'ANM',
 '10307': 'ANN',
 '10308': 'ANO',
 '10309': 'ANP',
 '10310': 'ANR',
 '10311': 'ANS',
 '10312': 'ANU',
 '10313': 'ANV',
 '10314': 'ANX',
 '10317': 'AOH',
 '10318': 'AOI',
 '10319': 'AOJ',
 '10320': 'AOK',
 '10321': 'AOL',
 '10322': 'AOO',
 '10323': 'AOR',
 '10324': 'AOS',
 '10325': 'APA',
 '10326': 'APB',
 '10327': 'APC',
 '10328': 'APE',
 '10329': 'APF',
 '10330': 'APG',
 '15642': 'API',
 '10331': 'APK',
 '10332': 'APL',
 '10333': 'APN',
 '10334': 'APO',
 '10335': 'APR',
 '10336': 'APT',
 '10337': 'APV',
 '10338': 'APW',
 '10339': 'AQI',
 '10340': 'AQJ',
 '10342': 'AQP',
 '10343': 'AQS',
 '10344': 'AQY',
 '10345': 'AR1',
 '10346': 'AR2',
 '16738': 'AR3',
 '10347': 'ARA',
 '10348': 'ARB',
 '10349': 'ARC',
 '10350': 'ARD',
 '10351': 'ARE',
 '10352': 'ARG',
 '10353': 'ARH',
 '10354': 'ARI',
 '10355': 'ARK',
 '10356': 'ARM',
 '10357': 'ARN',
 '10358': 'ARP',
 '10359': 'ARQ',
 '10360': 'ARS',
 '10361': 'ART',
 '10362': 'ARU',
 '10363': 'ARV',
 '10364': 'ARW',
 '10365': 'ARX',
 '10366': 'ARY',
 '10367': 'ARZ',
 '10368': 'ASA',
 '10369': 'ASB',
 '10370': 'ASC',
 '10371': 'ASD',
 '10372': 'ASE',
 '16674': 'ASF',
 '10373': 'ASG',
 '10374': 'ASH',
 '10375': 'ASI',
 '10376': 'ASJ',
 '10377': 'ASK',
 '10378': 'ASL',
 '10379': 'ASM',
 '10380': 'ASN',
 '10381': 'ASO',
 '10382': 'ASP',
 '10383': 'ASQ',
 '10384': 'ASR',
 '10385': 'AST',
 '10386': 'ASU',
 '10387': 'ASW',
 '10388': 'ASX',
 '10389': 'ASY',
 '10390': 'ATA',
 '10391': 'ATB',
 '10392': 'ATC',
 '10393': 'ATE',
 '10394': 'ATH',
 '10395': 'ATI',
 '10396': 'ATK',
 '10397': 'ATL',
 '10398': 'ATM',
 '10399': 'ATN',
 '10400': 'ATO',
 '10401': 'ATP',
 '10402': 'ATQ',
 '10403': 'ATR',
 '10404': 'ATS',
 '10405': 'ATT',
 '10406': 'ATU',
 '10407': 'ATV',
 '10408': 'ATW',
 '10409': 'ATY',
 '10410': 'ATZ',
 '16465': 'AU1',
 '10411': 'AUA',
 '10412': 'AUC',
 '10413': 'AUD',
 '10414': 'AUG',
 '10415': 'AUH',
 '16386': 'AUI',
 '10416': 'AUK',
 '10417': 'AUM',
 '10418': 'AUN',
 '10419': 'AUO',
 '10420': 'AUP',
 '10421': 'AUQ',
 '10422': 'AUR',
 '10423': 'BSM',
 '10424': 'AUW',
 '10425': 'AUX',
 '10426': 'AUY',
 '10427': 'AUZ',
 '10428': 'AVB',
 '10430': 'AVI',
 '10431': 'AVL',
 '10432': 'AVN',
 '10433': 'AVO',
 '10434': 'AVP',
 '10435': 'AVV',
 '10436': 'AVW',
 '10437': 'CIB',
 '11001': 'CIB',
 '10438': 'AWA',
 '10439': 'AWK',
 '10440': 'AWM',
 '10441': 'AWR',
 '10442': 'AWX',
 '10443': 'AWZ',
 '10444': 'AXA',
 '10445': 'AXB',
 '10446': 'AXC',
 '10447': 'AXD',
 '10448': 'AXM',
 '10449': 'AXN',
 '10450': 'AXP',
 '10451': 'AXS',
 '10452': 'AXT',
 '10453': 'AXU',
 '10454': 'AXV',
 '10455': 'AXX',
 '10456': 'AYL',
 '10457': 'AYP',
 '10458': 'AYQ',
 '10459': 'AYR',
 '10460': 'AYS',
 '10461': 'AYT',
 '10462': 'AYW',
 '10463': 'AZ1',
 '10464': 'AZ2',
 '10465': 'AZ3',
 '16451': 'AZ4',
 '16561': 'AZ5',
 '16639': 'AZ6',
 '10466': 'AZA',
 '10467': 'AZD',
 '10468': 'AZG',
 '16531': 'AZI',
 '10469': 'AZO',
 '10470': 'AZS',
 '10471': 'B19',
 '16649': 'B1C',
 '10472': 'B21',
 '16650': 'B2C',
 '16652': 'B3C',
 '16655': 'B4C',
 '10473': 'BAA',
 '10474': 'BAB',
 '10475': 'BAC',
 '10476': 'BAD',
 '10477': 'BAE',
 '10478': 'BAF',
 '10479': 'BAG',
 '10480': 'BAH',
 '10481': 'BAI',
 '12050': 'BAK',
 '10483': 'BAL',
 '10484': 'BAM',
 '10485': 'BAO',
 '10486': 'BAQ',
 '10487': 'BAR',
 '16388': 'BAT',
 '10489': 'BAU',
 '10490': 'BAV',
 '10491': 'BAX',
 '10492': 'BAY',
 '16460': 'BAZ',
 '10493': 'BBA',
 '10494': 'BBC',
 '16665': 'BBD',
 '10495': 'BBF',
 '10497': 'BBI',
 '16713': 'BBK',
 '10498': 'BBO',
 '10499': 'BBQ',
 '10500': 'BBR',
 '10501': 'BBS',
 '10502': 'BBT',
 '10503': 'BBU',
 '16573': 'BBW',
 '10504': 'BBX',
 '10505': 'BBY',
 '10506': 'BBZ',
 '16653': 'BC1',
 '16600': 'BC2',
 '16601': 'BC3',
 '16602': 'BC4',
 '16604': 'BC5',
 '16605': 'BC6',
 '16619': 'BC7',
 '16607': 'BC8',
 '16609': 'BC9',
 '10507': 'BCA',
 '10508': 'BCB',
 '10509': 'BCC',
 '10510': 'BCD',
 '16398': 'BCD',
 '10511': 'BCE',
 '10512': 'BCH',
 '10513': 'BCI',
 '10514': 'BCJ',
 '10515': 'BCL',
 '10516': 'BCM',
 '10517': 'BCN',
 '10518': 'BCS',
 '10519': 'BCT',
 '10520': 'BCY',
 '10521': 'BDA',
 '10522': 'BDB',
 '10523': 'BDE',
 '10524': 'BDG',
 '10525': 'BDH',
 '10526': 'BDI',
 '10527': 'BDJ',
 '10528': 'BDK',
 '10529': 'BDL',
 '10530': 'BDM',
 '10531': 'BDN',
 '10532': 'BDO',
 '10533': 'BDP',
 '10534': 'BDQ',
 '10535': 'BDR',
 '10536': 'BDS',
 '10537': 'BDU',
 '10538': 'BDY',
 '10539': 'BEB',
 '16473': 'BEC',
 '10540': 'BED',
 '10541': 'BEF',
 '10542': 'BEG',
 '10543': 'BEH',
 '10544': 'BEI',
 '10545': 'BEL',
 '10547': 'BEN',
 '10548': 'BEO',
 '10549': 'BER',
 '10550': 'BES',
 '10551': 'BET',
 '10552': 'BEU',
 '10553': 'BEV',
 '10554': 'BEW',
 '10555': 'BEY',
 '10556': 'BFB',
 '10557': 'BFD',
 '10558': 'BFF',
 '10559': 'BFI',
 '10560': 'BFK',
 '10561': 'BFL',
 '10562': 'BFM',
 '10563': 'BFN',
 '10564': 'BFO',
 '10565': 'BFP',
 '10566': 'BFQ',
 '10567': 'BFR',
 '10568': 'BFS',
 '10569': 'BFT',
 '16708': 'BG1',
 '10570': 'BGA',
 '10571': 'BGB',
 '10572': 'BGD',
 '10573': 'BGE',
 '10574': 'BGF',
 '16574': 'BGH',
 '10575': 'BGI',
 '10576': 'BGL',
 '10577': 'BGM',
 '10578': 'BGN',
 '10579': 'BGO',
 '10580': 'BGQ',
 '10581': 'BGR',
 '10582': 'BGS',
 '10583': 'BGT',
 '10584': 'BGU',
 '10585': 'BGW',
 '10586': 'BGX',
 '10587': 'BGY',
 '10588': 'BH1',
 '10589': 'BHB',
 '10591': 'BHD',
 '10592': 'BHE',
 '10593': 'BHG',
 '10594': 'BHH',
 '10595': 'BHI',
 '10596': 'BHJ',
 '10597': 'BHK',
 '10598': 'BHL',
 '10599': 'BHM',
 '10600': 'BHN',
 '10601': 'BHO',
 '10602': 'BHQ',
 '10603': 'BHR',
 '10604': 'BHS',
 '10605': 'BHT',
 '10606': 'BHU',
 '10607': 'BHV',
 '10608': 'BHX',
 '10609': 'BHY',
 '10610': 'BHZ',
 '10611': 'BIA',
 '10612': 'BIC',
 '10613': 'BID',
 '10614': 'BIE',
 '10615': 'BIF',
 '10616': 'BIG',
 '10617': 'BIH',
 '10618': 'BII',
 '10619': 'BIK',
 '10620': 'BIL',
 '10621': 'BIM',
 '10622': 'BIN',
 '10623': 'BIO',
 '10624': 'BIP',
 '10625': 'BIQ',
 '10626': 'BIR',
 '10627': 'BIS',
 '10628': 'BIV',
 '10629': 'BIX',
 '10630': 'BJC',
 '10631': 'BJI',
 '10632': 'BJJ',
 '10633': 'BJL',
 '10634': 'BJM',
 '10635': 'BJR',
 '10636': 'BJU',
 '10637': 'BJV',
 '10638': 'BJX',
 '10639': 'BJZ',
 '10640': 'BKC',
 '10641': 'BKE',
 '10642': 'BKF',
 '10643': 'BKG',
 '10644': 'BKH',
 '10645': 'BKI',
 '13614': 'BKK',
 '10647': 'BKL',
 '10648': 'BKM',
 '10650': 'BKO',
 '10651': 'BKQ',
 '10652': 'BKS',
 '10653': 'BKU',
 '10654': 'BKW',
 '10655': 'BKX',
 '10656': 'BKY',
 '10657': 'BKZ',
 '10658': 'BLA',
 '10659': 'BLB',
 '10660': 'BLC',
 '10661': 'BLD',
 '10662': 'BLE',
 '10663': 'BLF',
 '10664': 'BLG',
 '10665': 'BLH',
 '10666': 'BLI',
 '10667': 'BLJ',
 '10668': 'BLK',
 '10669': 'BLL',
 '10670': 'BLM',
 '10671': 'BLO',
 '10672': 'BLP',
 '10673': 'BLQ',
 '10674': 'BLR',
 '10675': 'BLT',
 '10676': 'BLV',
 '10677': 'BLZ',
 '10678': 'BMA',
 '10679': 'BMB',
 '10680': 'BMC',
 '10681': 'BMD',
 '10682': 'BME',
 '10683': 'BMG',
 '10684': 'BMH',
 '10685': 'BMI',
 '10686': 'BMJ',
 '10687': 'BML',
 '10688': 'BMM',
 '10689': 'BMO',
 '10690': 'BMP',
 '16687': 'BMV',
 '10691': 'BMW',
 '10692': 'BMX',
 '10693': 'BNA',
 '10694': 'BNB',
 '10695': 'BND',
 '10696': 'BNE',
 '10697': 'BNF',
 '10698': 'BNG',
 '10699': 'BNI',
 '10700': 'BNK',
 '10701': 'BNL',
 '10702': 'BNN',
 '10703': 'BNO',
 '10704': 'BNS',
 '10705': 'BNX',
 '10706': 'BNZ',
 '10707': 'BOA',
 '10708': 'BOB',
 '10709': 'BOC',
 '10710': 'BOD',
 '10711': 'BOG',
 '10712': 'BOH',
 '10713': 'BOI',
 '10714': 'BOJ',
 '10715': 'BOK',
 '10716': 'BOM',
 '10717': 'BON',
 '10718': 'BOO',
 '10719': 'BOQ',
 '10720': 'BOR',
 '10721': 'BOS',
 '10722': 'BOW',
 '10723': 'BOX',
 '10724': 'BOY',
 '10725': 'BPH',
 '16521': 'BPI',
 '10726': 'BPN',
 '10727': 'BPS',
 '10728': 'BPT',
 '10729': 'BQA',
 '10730': 'BQH',
 '10731': 'BQK',
 '10732': 'BQN',
 '10733': 'BQS',
 '10734': 'BQU',
 '10735': 'BQV',
 '10736': 'BR1',
 '16701': 'BR2',
 '10737': 'BRA',
 '10738': 'BRC',
 '10739': 'BRD',
 '10740': 'BRE',
 '10741': 'BRG',
 '10742': 'BRI',
 '10743': 'BRK',
 '10744': 'BRL',
 '10745': 'BRM',
 '10746': 'BRN',
 '10747': 'BRO',
 '10748': 'BRQ',
 '10749': 'BRR',
 '10750': 'BRS',
 '10751': 'BRT',
 '10752': 'BRU',
 '10753': 'BRV',
 '10754': 'BRW',
 '10755': 'BRX',
 '10756': 'BRY',
 '10757': 'BSA',
 '10758': 'BSB',
 '10759': 'BSD',
 '10760': 'BSG',
 '10761': 'BSK',
 '10762': 'MLH',
 '13366': 'MLH',
 '10764': 'BSO',
 '10765': 'BSQ',
 '10766': 'BSR',
 '10767': 'BSS',
 '10768': 'BSU',
 '10769': 'BSW',
 '10771': 'BTA',
 '10772': 'BTC',
 '10773': 'BTE',
 '10774': 'BTH',
 '10775': 'BTI',
 '10776': 'BTJ',
 '10777': 'BTK',
 '10778': 'BTL',
 '10779': 'BTM',
 '10780': 'BTP',
 '10781': 'BTR',
 '10782': 'BTS',
 '10783': 'BTT',
 '10784': 'BTU',
 '10785': 'BTV',
 '10786': 'BTY',
 '10787': 'BTZ',
 '10788': 'BUA',
 '10789': 'BUC',
 '10790': 'BUD',
 '10791': 'BUE',
 '10792': 'BUF',
 '10793': 'BUG',
 '10794': 'BUH',
 '10795': 'BUL',
 '10796': 'BUM',
 '10797': 'BUN',
 '10798': 'BUO',
 '10799': 'BUQ',
 '10800': 'BUR',
 '10801': 'BUS',
 '10802': 'BUU',
 '10803': 'BUV',
 '10804': 'BUX',
 '10805': 'BUY',
 '10806': 'BUZ',
 '10807': 'BVA',
 '10808': 'BVB',
 '10809': 'BVD',
 '10810': 'BVI',
 '10811': 'BVO',
 '10812': 'BVR',
 '16390': 'BVU',
 '10814': 'BVX',
 '10815': 'BVY',
 '16550': 'BW1',
 '10816': 'BWA',
 '10817': 'BWD',
 '10818': 'BWE',
 '10819': 'BWG',
 '10820': 'BWH',
 '10821': 'BWI',
 '10822': 'BWJ',
 '10823': 'BWM',
 '10824': 'BWN',
 '10825': 'BWS',
 '10826': 'WNY',
 '10827': 'BWY',
 '10828': 'BXC',
 '10829': 'BXD',
 '10830': 'BXE',
 '10832': 'BXS',
 '10833': 'BXU',
 '10834': 'BYA',
 '10835': 'BYC',
 '16482': 'BYF',
 '10837': 'BYG',
 '10838': 'BYH',
 '10839': 'BYI',
 '10840': 'BYK',
 '16481': 'BYN',
 '10842': 'BYT',
 '10843': 'BYU',
 '10844': 'BYW',
 '10845': 'BZA',
 '10846': 'BZE',
 '10847': 'BZG',
 '10848': 'BZI',
 '10849': 'BZN',
 '10850': 'BZO',
 '10851': 'BZR',
 '10852': 'BZS',
 '10853': 'BZT',
 '10854': 'BZV',
 '10856': 'BZZ',
 '10857': 'C01',
 '10858': 'C02',
 '16700': 'C1A',
 '10859': 'CA1',
 '10860': 'CA2',
 '10861': 'CA3',
 '10862': 'CA4',
 '10863': 'CA5',
 '16517': 'CA6',
 '16598': 'CA7',
 '16620': 'CA9',
 '10865': 'CAB',
 '10866': 'CAC',
 '10867': 'CAD',
 '10868': 'CAE',
 '10869': 'CAF',
 '10870': 'CAG',
 '10871': 'CAH',
 '10872': 'CAI',
 '10873': 'CAJ',
 '10874': 'CAK',
 '10875': 'CAL',
 '10876': 'CAM',
 '10877': 'CAN',
 '10878': 'CAP',
 '10879': 'CAR',
 '10880': 'CAS',
 '10881': 'NET',
 '13652': 'NET',
 '10882': 'CAW',
 '10883': 'CAX',
 '10884': 'CAY',
 '10885': 'CAZ',
 '10886': 'CBA',
 '10887': 'CBB',
 '10888': 'CBE',
 '10889': 'CBF',
 '10890': 'CBG',
 '10891': 'CBH',
 '10892': 'CBK',
 '10893': 'CBL',
 '10894': 'CBM',
 '10895': 'CBO',
 '10896': 'CBQ',
 '10897': 'CBR',
 '10898': 'CBV',
 '10899': 'CBY',
 '10900': 'CCC',
 '13471': 'CCE',
 '10902': 'CCF',
 '10903': 'CCH',
 '10904': 'CCI',
 '10905': 'CCJ',
 '10906': 'CCK',
 '10907': 'CCM',
 '10908': 'CCN',
 '10909': 'CCP',
 '10910': 'CCR',
 '10911': 'CCS',
 '10912': 'CCU',
 '10914': 'CCX',
 '10915': 'CCY',
 '10916': 'CCZ',
 '16735': 'CD1',
 '16747': 'CD2',
 '10917': 'CDB',
 '10918': 'CDC',
 '10919': 'CDF',
 '10920': 'CDG',
 '10921': 'CDH',
 '10922': 'CDJ',
 '10923': 'CDL',
 '10924': 'CDN',
 '10925': 'CDR',
 '10926': 'CDV',
 '10927': 'CDW',
 '10928': 'CEA',
 '10929': 'CEB',
 '10930': 'CEC',
 '10931': 'CED',
 '10933': 'CEF',
 '10934': 'CEG',
 '10935': 'CEI',
 '10936': 'CEK',
 '10937': 'CEL',
 '10938': 'CEM',
 '10939': 'CEN',
 '10940': 'CEO',
 '10941': 'CEP',
 '10942': 'CEQ',
 '10943': 'CER',
 '10944': 'CET',
 '10945': 'CEU',
 '10946': 'CEV',
 '10947': 'CEW',
 '10948': 'CEX',
 '10949': 'CEY',
 '10950': 'CEZ',
 '10951': 'CFA',
 '10952': 'CFB',
 '10953': 'CFE',
 '10954': 'CFG',
 '10955': 'CFQ',
 '10956': 'CFR',
 ...}

In [155]:
# Make sure all Origin and departing airports are strings
df_f1_cleaned['ORIGIN_AIRPORT'] = df_f1_cleaned['ORIGIN_AIRPORT'].values.astype(str)
df_f1_cleaned['DESTINATION_AIRPORT'] = df_f1_cleaned['DESTINATION_AIRPORT'].values.astype(str)

In [156]:
# Replace 3-digit with 5 digit
N_flights = len(df_f1_cleaned)
for i in range(N_flights):
    if i % 100 == 0:
        print(i)
    if len(df_f1_cleaned['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = df_f1_cleaned['ORIGIN_AIRPORT'][i]
        value = aircode_dict[df_f1_cleaned['ORIGIN_AIRPORT'][i]]
        df_f1_cleaned = df_f1_cleaned.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(df_f1_cleaned['DESTINATION_AIRPORT'][i]) != 3:
        to_replace = df_f1_cleaned['DESTINATION_AIRPORT'][i]
        value = aircode_dict[df_f1_cleaned['DESTINATION_AIRPORT'][i]]
        df_f1_cleaned = df_f1_cleaned.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

0
replaced 15380 with TVC
replaced 15304 with TPA
replaced 14843 with SJU
replaced 11298 with DFW
replaced 15370 with TUL
replaced 14771 with SFO
replaced 13930 with ORD
replaced 13232 with MDW
replaced 11618 with EWR
100
replaced 10693 with BNA
replaced 11292 with DEN
replaced 12953 with LGA
replaced 13204 with MCO
replaced 14100 with PHL
replaced 12173 with HNL
replaced 11697 with FLL
replaced 12478 with JFK
200
replaced 12448 with JAN
replaced 11617 with EWN
replaced 13487 with MSP
replaced 14831 with SJC
replaced 11921 with GJT
replaced 12266 with IAH
replaced 13342 with MKE
replaced 11982 with GRK
replaced 11193 with CVG
replaced 12441 with JAC
300
replaced 10721 with BOS
replaced 13931 with ORF
replaced 12889 with LAS
replaced 14027 with PBI
replaced 14685 with SAV
replaced 14635 with RSW
replaced 11109 with COS
replaced 11433 with DTW
400
replaced 10423 with BSM
replaced 13851 with OKC
replaced 12892 with LAX
replaced 14107 with PHX
replaced 13198 with MCI
replaced 13303 with MIA
500
replaced 11066 with CMH
replaced 10781 with BTR
replaced 15412 with TYS
replaced 14893 with SMF
replaced 11638 with FAT
replaced 14679 with SAN
replaced 14576 with ROC
replaced 15376 with TUS
replaced 12191 with HOU
replaced 12451 with JAX
replaced 14457 with RAP
replaced 10397 with ATL
replaced 11042 with CLE
600
replaced 14057 with PDX
700
replaced 14492 with RDU
replaced 14869 with SLC
replaced 14570 with RNO
800
replaced 14698 with SBP
replaced 11057 with CLT
replaced 11278 with DCA
replaced 14524 with RIC
replaced 15016 with STL
replaced 13796 with OAK
replaced 12758 with KOA
replaced 15919 with XNA
900
replaced 11049 with CLL
replaced 14689 with SBA
replaced 11637 with FAR
1000
replaced 14730 with SDF
replaced 10529 with BDL
replaced 11471 with EAU
replaced 14262 with PSP
1100
replaced 11259 with DAL
replaced 10792 with BUF
replaced 14307 with PVD
replaced 10208 with AGS
1200
replaced 14783 with SGF
replaced 12339 with IND
1300
replaced 10821 with BWI
1400
replaced 13377 with MLU
1500
replaced 13061 with LRD
replaced 10800 with BUR
replaced 13495 with MSY
replaced 12402 with ITO
1600
replaced 10627 with BIS
replaced 14574 with ROA
1700
replaced 11995 with GSO
1800
replaced 13830 with OGG
1900
replaced 11778 with FSM
replaced 14108 with PIA
replaced 11648 with FCA
2000
replaced 14683 with SAT
replaced 11150 with CSG
2100
2200
replaced 14747 with SEA
replaced 13459 with MQT
2300
replaced 11540 with ELP
replaced 13891 with ONT
replaced 13296 with MHT
2400
replaced 12264 with IAD
2500
replaced 14098 with PHF
replaced 10299 with ANC
replaced 12197 with HPN
2600
replaced 13029 with LNK
replaced 13476 with MRY
2700
replaced 11898 with GFK
replaced 14842 with SJT
2800
replaced 11140 with CRP
2900
replaced 10257 with ALB
3000
replaced 10599 with BHM
replaced 12896 with LBB
replaced 11423 with DSM
replaced 13433 with MOT
3100
replaced 10155 with ACT
replaced 14908 with SNA
3200
replaced 14986 with SRQ
replaced 14122 with PIT
3300
3400
replaced 15411 with TYR
replaced 11986 with GRR
3500
3600
3700
3800
replaced 12954 with LGB
replaced 12982 with LIH
replaced 15401 with TXK
3900
replaced 13244 with MEM
replaced 10158 with ACY
replaced 12992 with LIT
4000
4100
4200
replaced 12898 with LBE
4300
replaced 14696 with SBN
replaced 11721 with FNT
4400
4500
replaced 14321 with PWM
replaced 12206 with HRL
replaced 11775 with FSD
4600
4700
replaced 11823 with FWA
4800
replaced 11603 with EUG
4900
replaced 10779 with BTM
5000
5100
replaced 10918 with CDC
replaced 13577 with MYR
replaced 13871 with OMA
5200
5300
replaced 10868 with CAE
5400
replaced 13230 with MDT
replaced 13277 with MGM
replaced 10620 with BIL
5500
replaced 11267 with DAY
5600
replaced 12278 with ICT
5700
5800
replaced 10279 with AMA
replaced 14193 with PNS
replaced 15096 with SYR
replaced 10713 with BOI
5900
6000
6100
replaced 11146 with CRW
6200
replaced 13256 with MFE
6300
6400
6500
6600
6700
6800
replaced 12819 with KTN
replaced 13422 with MOB
replaced 11525 with EKO
6900
replaced 12884 with LAN
7000
7100
replaced 14006 with PAH
7200
replaced 14794 with SGU
7300
replaced 10431 with AVL
replaced 12217 with HSV
7400
7500
replaced 10994 with CHS
7600
7700
7800
replaced 16218 with YUM
replaced 11884 with GEG
replaced 12945 with LEX
7900
replaced 15323 with TRI
8000
replaced 10434 with AVP
replaced 11953 with GNV
8100
replaced 11695 with FLG
8200
replaced 11977 with GRB
8300
replaced 11537 with ELM
8400
replaced 10849 with BZN
replaced 10140 with ABQ
8500
8600
replaced 10154 with ACK
8700
replaced 11308 with DHN
replaced 13485 with MSN
8800
8900
9000
replaced 13158 with MAF
9100
9200
9300
9400
replaced 11630 with FAI
9500
9600
replaced 11612 with EVV
replaced 10739 with BRD
replaced 12389 with ISN
9700
9800
9900

In [167]:
df_f1_cleaned['ORIGIN_AIRPORT'].unique()

array(['PHL', 'ITO', 'DFW', 'OAK', 'BNA', 'MSP', 'TVC', 'ORD', 'LAX',
       'MCO', 'ATL', 'ISN', 'SLC', 'DTW', 'LAS', 'PHX', 'TPA', 'FAT',
       'SEA', 'SRQ', 'JFK', 'BOS', 'JAX', 'MIA', 'HNL', 'DEN', 'LGA',
       'ABQ', 'SJU', 'SFO', 'MDW', 'BIS', 'IAH', 'ROA', 'RDU', 'CLT',
       'SMF', 'FLL', 'EWR', 'PSP', 'STL', 'CRP', 'TUL', 'SJC', 'SDF',
       'IAD', 'PDX', 'DCA', 'IND', 'CVG', 'PBI', 'SAN', 'PWM', 'LBE',
       'CMH', 'ANC', 'BWI', 'MEM', 'LGB', 'OKC', 'DSM', 'PIT', 'RIC',
       'SNA', 'MSY', 'ILM', 'ELP', 'HOU', 'GSP', 'ALB', 'PVD', 'EWN',
       'CID', 'HPN', 'AUS', 'LIH', 'RAP', 'OMA', 'FNT', 'GJT', 'MKE',
       'MYR', 'CHS', 'GRK', 'BDL', 'MLU', 'JAC', 'OGG', 'DAL', 'PIH',
       'LFT', 'TLH', 'CAE', 'GCC', 'BRW', 'GEG', 'GRB', 'MHT', 'RSW',
       'KTN', 'COS', 'SYR', 'FCA', 'BUR', 'MRY', 'TRI', 'DRO', 'PIB',
       'MCI', 'ECP', 'MDT', 'SAT', 'TYS', 'SGF', 'LWS', 'CLE', 'SBN',
       'ATW', 'ROC', 'TUS', 'LIT', 'LBB', 'FSD', 'JAN', 'BOI', 'EVV',
       'BTR', 'GNV', 'HRL', 'MHK', 'SAV', 'RDM', 'GRR', 'MOT', 'LAR',
       'MBS', 'ORH', 'BSM', 'LAN', 'CRW', 'MSN', 'ICT', 'BFL', 'MAF',
       'EGE', 'DAY', 'CAK', 'SBP', 'ACY', 'CHA', 'GSO', 'MSO', 'YAK',
       'PIA', 'MGM', 'HLN', 'SBA', 'GRI', 'XNA', 'MFE', 'STT', 'ASE',
       'ISP', 'ONT', 'KOA', 'DHN', 'FLG', 'JNU', 'HSV', 'EAU', 'RNO',
       'AGS', 'TYR', 'FAR', 'LEX', 'RST', 'BQN', 'AMA', 'SHV', 'TXK',
       'VPS', 'BIL', 'CMI', 'LRD', 'EYW', 'SAF', 'MOB', 'GCK', 'PLN',
       'ABI', 'LNK', 'CPR', 'ORF', 'SUN', 'GUM', 'ACT', 'AVL', 'MLB',
       'GPT', 'COD', 'BJI', 'DBQ', 'BUF', 'CSG', 'GFK', 'FWA', 'IDA',
       'MEI', 'MQT', 'SCC', 'MLI', 'YUM', 'LSE', 'LCH', 'BHM', 'PAH',
       'OAJ', 'SPI', 'PNS', 'OTH', 'SJT', 'EUG', 'ABY', 'RHI', 'DVL',
       'FAI', 'CLD', 'FSM', 'JLN', 'DLH', 'FAY', 'ACV', 'PSC', 'SGU',
       'GTR', 'TOL', 'ELM', 'AEX', 'BMI', 'BLI', 'HDN', 'ABE', 'ABR',
       'GTF', 'DIK', 'CWA', 'CMX', 'SUX', 'CLL', 'CHO', 'MFR', 'APN',
       'BRO', 'DAB', 'OTZ', 'BRD', 'MKG', 'ROW', 'BZN', 'UST', 'BTM',
       'OME', 'BTV', 'LAW', 'SMX', 'TTN', 'PSG', 'ESC', 'PSE', 'GGG',
       'IAG', 'AZO', 'CDV', 'ALO', 'CDC', 'MTJ', 'RDD', 'TWF', 'RKS',
       'HYS', 'HIB', 'MVY', 'VLD', 'AVP', 'SPS', 'ADQ', 'SWF', 'MMH',
       'JMS', 'CIU'], dtype=object)

In [162]:
df_f1_cleaned['DESTINATION_AIRPORT'].unique()

array(['DEN', 'HNL', 'ATL', 'SAN', 'DAL', 'ORD', 'LAX', 'MSP', 'CAE',
       'PDX', 'BDL', 'TPA', 'JFK', 'DCA', 'STL', 'EWR', 'RNO', 'SEA',
       'CMI', 'HLN', 'HPN', 'OKC', 'PHX', 'MIA', 'DIK', 'OGG', 'PHL',
       'MYR', 'CLE', 'LIH', 'MLU', '15249', 'YUM', 'AUS', 'LGA', 'JAX',
       'DFW', 'SPI', 'BOS', 'BUR', 'IAH', 'GEG', 'HOU', 'SFO', 'MSY',
       'MEM', 'IAD', 'LAN', 'PIT', 'ANC', 'DTW', 'MCO', 'ABQ', 'SNA',
       'SJT', 'TUS', 'RIC', 'SLC', 'BNA', 'ONT', 'SCE', 'BTV', 'SJC',
       'PVD', 'MCI', 'BWI', '12391', 'TRI', 'LAS', 'MDW', 'PIA', 'CLT',
       'ABY', 'ITO', 'OMA', 'IND', 'FAI', 'GPT', 'FAR', 'PSP', 'SGF',
       'JAN', 'BTR', 'DLH', 'CRP', 'SAT', 'SJU', 'MKE', 'DSM', 'CRW',
       'FLL', 'TVC', 'PHF', 'RAP', 'FLG', 'ACV', 'AEX', 'LGB', 'EYW',
       'OAK', 'CMH', 'ICT', 'GRR', 'ORF', 'ALB', 'SMF', 'ELP', 'FWA',
       'SAV', 'FAT', 'LIT', 'GRB', 'RSW', 'BSM', 'MEI', 'FSM', 'SBN',
       'KOA', 'TUL', 'COU', 'RDU', 'BUF', 'TYS', 'SMX', 'GRK', 'GNV',
       'COS', 'ISN', 'PBI', 'CHS', 'MSN', 'DAY', 'PIH', 'EUG', 'FSD',
       'SYR', 'DAB', 'MOT', 'TYR', 'ACY', 'SDF', 'XNA', 'CAK', 'LEX',
       'GJT', 'EVV', 'CDV', 'CLL', 'PNS', 'TTN', 'CID', 'CDC', 'MRY',
       'MAF', 'ABR', 'YAK', 'SWF', 'MFR', 'ASE', 'LBE', 'SUN', 'STT',
       'PAH', 'SBA', 'GSO', 'ISP', 'CVG', 'CSG', 'BHM', 'BOI', 'MSO',
       'EGE', 'PWM', 'TXK', 'MOB', 'LBB', 'RST', 'BIS', 'AGS', 'BGM',
       'AVL', 'ATW', 'SAF', 'AZO', 'GRI', 'ROW', 'KTN', 'MLB', 'BIL',
       'ALO', 'SHV', 'MHT', 'LAW', 'CPR', 'BQK', 'LCH', 'PIB', 'SBP',
       'ROC', 'CHO', 'PSC', 'BRW', 'LFT', 'GCK', 'BRO', 'SRQ', 'ACT',
       'BZN', 'GSP', 'ADQ', 'JAC', 'ABI', 'LNK', 'JNU', 'MMH', 'TLH',
       'OAJ', 'ROA', 'ABE', 'VPS', 'GTR', 'CHA', 'ERI', 'FCA', 'ELM',
       'LSE', 'BGR', 'RDM', 'ILM', 'MGM', 'GCC', 'COD', 'CWA', 'DHN',
       'MVY', 'HIB', 'SCC', 'LAR', 'APN', 'FNT', 'AVP', 'HSV', 'CLD',
       'JMS', 'EAU', 'CMX', 'ECP', 'BPT', 'BFL', 'HRL', 'BTM', 'RHI',
       'DRO', 'HOB', 'SGU', 'MFE', 'TWF', 'BQN', 'OME', 'PSE', 'AMA',
       'MHK', 'MLI', 'MDT', 'VLD', 'EWN', 'PLN', 'LRD', 'BET', 'MKG',
       'WRG', 'ESC', 'JLN', 'EKO', 'GGG', 'HYS', 'BJI', 'SUX', 'BLI',
       'GFK', 'BRD', 'ACK', 'MTJ', 'IDA', 'MBS'], dtype=object)

Two records are not converted successfully. Here I manually replaced the codes.

In [163]:
df_f1_cleaned[df_f1_cleaned['DESTINATION_AIRPORT'] == '15249']

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
48,2015,10,7,3,EV,2818,DFW,15249,1835,1833.0,...,2130.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
df_f1_cleaned.loc[48,'DESTINATION_AIRPORT'] = 'TLH'

In [165]:
df_f1_cleaned[df_f1_cleaned['DESTINATION_AIRPORT'] == '12391']

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
131,2015,10,8,4,WN,2159,MCO,12391,2045,2043.0,...,2305.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
df_f1_cleaned.loc[131,'DESTINATION_AIRPORT'] = 'ISP'

In [171]:
df_f1_cleaned['DESTINATION_AIRPORT'].unique()

array(['DEN', 'HNL', 'ATL', 'SAN', 'DAL', 'ORD', 'LAX', 'MSP', 'CAE',
       'PDX', 'BDL', 'TPA', 'JFK', 'DCA', 'STL', 'EWR', 'RNO', 'SEA',
       'CMI', 'HLN', 'HPN', 'OKC', 'PHX', 'MIA', 'DIK', 'OGG', 'PHL',
       'MYR', 'CLE', 'LIH', 'MLU', 'TLH', 'YUM', 'AUS', 'LGA', 'JAX',
       'DFW', 'SPI', 'BOS', 'BUR', 'IAH', 'GEG', 'HOU', 'SFO', 'MSY',
       'MEM', 'IAD', 'LAN', 'PIT', 'ANC', 'DTW', 'MCO', 'ABQ', 'SNA',
       'SJT', 'TUS', 'RIC', 'SLC', 'BNA', 'ONT', 'SCE', 'BTV', 'SJC',
       'PVD', 'MCI', 'BWI', 'ISP', 'TRI', 'LAS', 'MDW', 'PIA', 'CLT',
       'ABY', 'ITO', 'OMA', 'IND', 'FAI', 'GPT', 'FAR', 'PSP', 'SGF',
       'JAN', 'BTR', 'DLH', 'CRP', 'SAT', 'SJU', 'MKE', 'DSM', 'CRW',
       'FLL', 'TVC', 'PHF', 'RAP', 'FLG', 'ACV', 'AEX', 'LGB', 'EYW',
       'OAK', 'CMH', 'ICT', 'GRR', 'ORF', 'ALB', 'SMF', 'ELP', 'FWA',
       'SAV', 'FAT', 'LIT', 'GRB', 'RSW', 'BSM', 'MEI', 'FSM', 'SBN',
       'KOA', 'TUL', 'COU', 'RDU', 'BUF', 'TYS', 'SMX', 'GRK', 'GNV',
       'COS', 'ISN', 'PBI', 'CHS', 'MSN', 'DAY', 'PIH', 'EUG', 'FSD',
       'SYR', 'DAB', 'MOT', 'TYR', 'ACY', 'SDF', 'XNA', 'CAK', 'LEX',
       'GJT', 'EVV', 'CDV', 'CLL', 'PNS', 'TTN', 'CID', 'CDC', 'MRY',
       'MAF', 'ABR', 'YAK', 'SWF', 'MFR', 'ASE', 'LBE', 'SUN', 'STT',
       'PAH', 'SBA', 'GSO', 'CVG', 'CSG', 'BHM', 'BOI', 'MSO', 'EGE',
       'PWM', 'TXK', 'MOB', 'LBB', 'RST', 'BIS', 'AGS', 'BGM', 'AVL',
       'ATW', 'SAF', 'AZO', 'GRI', 'ROW', 'KTN', 'MLB', 'BIL', 'ALO',
       'SHV', 'MHT', 'LAW', 'CPR', 'BQK', 'LCH', 'PIB', 'SBP', 'ROC',
       'CHO', 'PSC', 'BRW', 'LFT', 'GCK', 'BRO', 'SRQ', 'ACT', 'BZN',
       'GSP', 'ADQ', 'JAC', 'ABI', 'LNK', 'JNU', 'MMH', 'OAJ', 'ROA',
       'ABE', 'VPS', 'GTR', 'CHA', 'ERI', 'FCA', 'ELM', 'LSE', 'BGR',
       'RDM', 'ILM', 'MGM', 'GCC', 'COD', 'CWA', 'DHN', 'MVY', 'HIB',
       'SCC', 'LAR', 'APN', 'FNT', 'AVP', 'HSV', 'CLD', 'JMS', 'EAU',
       'CMX', 'ECP', 'BPT', 'BFL', 'HRL', 'BTM', 'RHI', 'DRO', 'HOB',
       'SGU', 'MFE', 'TWF', 'BQN', 'OME', 'PSE', 'AMA', 'MHK', 'MLI',
       'MDT', 'VLD', 'EWN', 'PLN', 'LRD', 'BET', 'MKG', 'WRG', 'ESC',
       'JLN', 'EKO', 'GGG', 'HYS', 'BJI', 'SUX', 'BLI', 'GFK', 'BRD',
       'ACK', 'MTJ', 'IDA', 'MBS'], dtype=object)

Problem fixed!

The final step, concat *YEAR*, *MONTH*,*DAY* columns into one *date* column, add a *FLIGHT_ID* column as the unique identifier and export the dataset.

In [199]:
df_f1_cleaned['DATE'] = pd.to_datetime(df_f1_cleaned[['YEAR','MONTH', 'DAY']])

In [200]:
df_f1_cleaned.head(1)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,2015,6,9,2,US,851,PHL,DEN,1845,1838.0,...,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-09

In [201]:
df_f1_cleaned['FLIGHT_ID'] = range(len(df_f1_cleaned))

In [202]:
df_f1_cleaned.head(1)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE,FLIGHT_ID
0,2015,6,9,2,US,851,PHL,DEN,1845,1838.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-09,0

In [203]:
df_f1_cleaned.to_csv('flights_sampled_cleaned.csv',index = False)

In [205]:
df_f1_cleaned.shape

(9978, 32)

## Airlines Dataset

**airlines** dataset contains airline information of 14 USA airline companies. This dataset maps airline IATA code (e.g. UA) to airline name (e.g. United Airlines). This dataset is complete. This dataset can be joined to **flights** dataset in Tableau.

In [191]:
airlines.isna().sum()

IATA_CODE    0
AIRLINE      0
dtype: int64

In [192]:
airlines.shape

(14, 2)

## Airports Dataset

**airports** dataset contains airport information of 322 USA airports. This dataset maps IATA code (e.g. ABE) to airport name, city, state, country, latitude and longitude. This dataset is not complete. 3 airports do not have longitude and latitude. Luckily, these missing values can be filled using Google Maps.

In [193]:
airports.shape

(322, 7)

In [194]:
airports.isna().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [195]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [196]:
airports[airports['LATITUDE'].isnull()]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
96,ECP,Northwest Florida Beaches International Airport,Panama City,FL,USA,NaN,NaN
234,PBG,Plattsburgh International Airport,Plattsburgh,NY,USA,NaN,NaN
313,UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN

In [197]:
airports.loc[airports['IATA_CODE']== 'ECP', 'LATITUDE'] = 30.3553
airports.loc[airports['IATA_CODE']== 'ECP', 'LONGITUDE'] = 85.7991
airports.loc[airports['IATA_CODE']== 'PBG', 'LATITUDE'] = 44.6519
airports.loc[airports['IATA_CODE']== 'PBG', 'LONGITUDE'] = 73.4657
airports.loc[airports['IATA_CODE']== 'UST', 'LATITUDE'] = 29.9544
airports.loc[airports['IATA_CODE']== 'UST', 'LONGITUDE'] = 81.3429

In [198]:
airports.isna().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [204]:
airports.to_csv('airports_cleaned.csv', index= False)