In [3]:
import pandas as pd

## Merge 10 year data

In [209]:
df2017 = pd.read_sas('LLCP2017.XPT')

MemoryError:

In [3]:
na2017 = pd.DataFrame(df2017.isna().sum(),columns = ['NA'])

In [4]:
#Keep only columns with less than 10% of NAs
na2017_s = na2017[na2017['NA']<=0.1*len(df2017)]

In [6]:
set_2017 = set(na2017_s.index)

In [7]:
df2016 = pd.read_sas('LLCP2016.XPT')

In [8]:
na2016 = pd.DataFrame(df2016.isna().sum(),columns = ['NA'])
na2016_s = na2016[na2016['NA']<=0.1*len(df2016)]
len(na2016_s)

114

In [9]:
set_2016 = set(na2016_s.index)

In [10]:
df2015 = pd.read_csv('2015.csv')

In [11]:
na2015 = pd.DataFrame(df2015.isna().sum(),columns = ['NA'])
na2015_s = na2015[na2015['NA']<=0.1*len(df2015)]
len(na2015_s)

145

In [12]:
set_2015 = set(na2015_s.index)

In [13]:
df2014 = pd.read_csv('2014.csv')

In [14]:
na2014 = pd.DataFrame(df2014.isna().sum(),columns = ['NA'])
na2014_s = na2014[na2014['NA']<=0.1*len(df2014)]
len(na2014_s)

114

In [15]:
set_2014 = set(na2014_s.index)

In [16]:
df2013 = pd.read_csv('2013.csv')

In [17]:
na2013 = pd.DataFrame(df2013.isna().sum(),columns = ['NA'])
na2013_s = na2013[na2013['NA']<=0.1*len(df2013)]
len(na2013_s)

158

In [18]:
set_2013 = set(na2013_s.index)

In [19]:
df2012 = pd.read_csv('2012.csv')

In [20]:
na2012 = pd.DataFrame(df2012.isna().sum(),columns = ['NA'])
na2012_s = na2012[na2012['NA']<=0.1*len(df2012)]
len(na2012_s)

133

In [21]:
set_2012 = set(na2012_s.index)

In [22]:
df2011 = pd.read_csv('2011.csv')

In [23]:
na2011 = pd.DataFrame(df2011.isna().sum(),columns = ['NA'])
na2011_s = na2011[na2011['NA']<=0.1*len(df2011)]
len(na2011_s)

165

In [24]:
set_2011 = set(na2011_s.index)

In [25]:
u = set.intersection(set_2017, set_2016, set_2015,set_2014,set_2013,set_2012,set_2011)

In [26]:
len(u)

76

In [27]:
df2010 = pd.read_csv('2010.csv')

In [28]:
na2010 = pd.DataFrame(df2010.isna().sum(),columns = ['NA'])
na2010_s = na2010[na2010['NA']<=0.1*len(df2010)]
len(na2010_s)

134

In [29]:
set_2010 = set(na2010_s.index)

In [30]:
df2009 = pd.read_csv('2009.csv')

In [32]:
na2009 = pd.DataFrame(df2009.isna().sum(),columns = ['NA'])
na2009_s = na2009[na2009['NA']<=0.1*len(df2009)]
len(na2009_s)

166

In [33]:
set_2009 = set(na2009_s.index)

In [34]:
df2008 = pd.read_csv('2008.csv')

In [36]:
na2008 = pd.DataFrame(df2008.isna().sum(),columns = ['NA'])
na2008_s = na2008[na2008['NA']<=0.1*len(df2008)]
len(na2008_s)

134

In [37]:
set_2008 = set(na2008_s.index)

In [38]:
#Find common variables from 2008 to 2010
u2 = set.intersection(set_2010,set_2009,set_2008)

In [39]:
len(u2)

119

In [40]:
u2_rename = list(u2)

In [41]:
dic = {'ASTHMA2':'ASTHMA3','DIABETE2':'DIABETE3','DRNKANY4':'DRNKANY5','DROCDY2_':'DROCDY3_',\
      'HTIN3':'HTIN4','HTM3':'HTM4','_BMI4':'_BMI5','_HCVU65':'_HCVU651','_LTASTHM':'_LTASTH1','WTKG2':'WTKG3'}

u2_renamed = [dic.get(n, n) for n in u2_rename]

In [42]:
u2_renamed = set(u2_renamed)

In [43]:
u3_renamed = set.intersection(u,u2_renamed)

In [44]:
len(u3_renamed)

52

In [47]:
#rename variables for 2008 - 2010 data
df2008_r = df2008.rename(columns ={'ASTHMA2':'ASTHMA3','DIABETE2':'DIABETE3','DRNKANY4':'DRNKANY5','DROCDY2_':'DROCDY3_',\
      'HTIN3':'HTIN4','HTM3':'HTM4','_BMI4':'_BMI5','_HCVU65':'_HCVU651','_LTASTHM':'_LTASTH1','WTKG2':'WTKG3'})

In [48]:
df2009_r = df2009.rename(columns ={'ASTHMA2':'ASTHMA3','DIABETE2':'DIABETE3','DRNKANY4':'DRNKANY5','DROCDY2_':'DROCDY3_',\
      'HTIN3':'HTIN4','HTM3':'HTM4','_BMI4':'_BMI5','_HCVU65':'_HCVU651','_LTASTHM':'_LTASTH1','WTKG2':'WTKG3'})

In [49]:
df2010_r = df2010.rename(columns ={'ASTHMA2':'ASTHMA3','DIABETE2':'DIABETE3','DRNKANY4':'DRNKANY5','DROCDY2_':'DROCDY3_',\
      'HTIN3':'HTIN4','HTM3':'HTM4','_BMI4':'_BMI5','_HCVU65':'_HCVU651','_LTASTHM':'_LTASTH1','WTKG2':'WTKG3'})

In [50]:
cols_to_keep = list(u3_renamed)

In [51]:
#Keep only these common columns
df2017_s = df2017[cols_to_keep]
df2016_s = df2016[cols_to_keep]
df2015_s = df2015[cols_to_keep]
df2014_s = df2014[cols_to_keep]
df2013_s = df2013[cols_to_keep]
df2012_s = df2012[cols_to_keep]
df2011_s = df2011[cols_to_keep]
df2010_s = df2010_r[cols_to_keep]
df2009_s = df2009_r[cols_to_keep]
df2008_s = df2008_r[cols_to_keep]

In [52]:
df2008_s.shape

(414509, 52)

In [53]:
#Merge 10 years data
concat_list = [df2017_s,df2016_s,df2015_s,df2014_s,df2013_s,df2012_s,df2011_s,df2010_s,df2009_s,df2008_s]
data = pd.concat(concat_list)

In [54]:
data.shape

(4614557, 52)

In [55]:
data.columns

Index(['_PSU', '_TOTINDA', 'WTKG3', 'CVDINFR4', 'PNEUVAC3', 'ASTHMA3',
       '_AGE_G', 'SEX', 'IMONTH', 'MEDCOST', 'CVDCRHD4', '_STATE', '_HCVU651',
       'MENTHLTH', '_RFSMOK3', '_LTASTH1', '_STSTR', 'EXERANY2', 'CHILDREN',
       'DRNKANY5', 'QSTLANG', 'IDATE', '_STRWT', 'GENHLTH', 'HEIGHT3',
       'DROCDY3_', 'SMOKE100', '_BMI5', 'DIABETE3', '_CHLDCNT', 'CVDSTRK3',
       'EDUCA', '_RFHLTH', 'PHYSHLTH', '_SMOKER3', 'IDAY', 'HTIN4', 'SEQNO',
       'MARITAL', '_EDUCAG', 'INCOME2', '_AGE65YR', 'IYEAR', '_AGEG5YR',
       'WEIGHT2', 'DISPCODE', 'PERSDOC2', 'FMONTH', 'HTM4', 'CHECKUP1',
       'QSTVER', '_INCOMG'],
      dtype='object')

In [81]:
data2 = data.drop(columns =['_PSU', #Data hidden
                            'QSTVER',#Questionaire version, not needed
                            'IDAY',#Day of interview, not needed
                            'IDATE',#Date of interview, not needed
                            '_STSTR',#Data hidden
                            'SEQNO',#Sequence number, data hidden
                            'IMONTH',#Month of interview, not needed
                            'FMONTH',#File month, not needed
                            'DISPCODE',#If the interveiw is complete, not needed
                            '_STRWT' ,#Weight rank, Data hidden
                            'HEIGHT3','HTIN4', #Overlap with HTM4
                            'WEIGHT2', #Overlap with WTKG3
                            '_HCVU651', #Not needed
                            'INCOME2',#Overlap with _INCOMG
                            'EDUCA', #Overlap with EDUCAG
                            '_RFSMOK3', #overlap with _SMOK3
                            '_CHLDCNT', #Overlap with CHILDREN
                            '_AGE_G','_AGE65YR', #Overlap with _AGEG5YR
                            '_RFHLTH', #Overlap with GENHLTH
                            'QSTLANG', #Question language , not needed
                            '_LTASTH1' #Overlap with ASTHMA3
                           ])

In [82]:
data2.shape

(4614557, 29)

In [83]:
data2.isna().sum()/len(data2)

_TOTINDA    0.000000
WTKG3       0.039301
CVDINFR4    0.000003
PNEUVAC3    0.049053
ASTHMA3     0.000001
SEX         0.000000
MEDCOST     0.000002
CVDCRHD4    0.000002
_STATE      0.000000
MENTHLTH    0.000004
EXERANY2    0.026147
CHILDREN    0.000784
DRNKANY5    0.002655
GENHLTH     0.000009
DROCDY3_    0.000002
SMOKE100    0.017892
_BMI5       0.048321
DIABETE3    0.000250
CVDSTRK3    0.000001
PHYSHLTH    0.000006
_SMOKER3    0.000000
MARITAL     0.000552
_EDUCAG     0.000000
IYEAR       0.000000
_AGEG5YR    0.000000
PERSDOC2    0.000002
HTM4        0.017928
CHECKUP1    0.000002
_INCOMG     0.000000
dtype: float64

In [84]:
#Drop rows that have missing values
data3 = data2.dropna()

In [85]:
data3.shape

(4215003, 29)

In [86]:
data3.isna().sum()

_TOTINDA    0
WTKG3       0
CVDINFR4    0
PNEUVAC3    0
ASTHMA3     0
SEX         0
MEDCOST     0
CVDCRHD4    0
_STATE      0
MENTHLTH    0
EXERANY2    0
CHILDREN    0
DRNKANY5    0
GENHLTH     0
DROCDY3_    0
SMOKE100    0
_BMI5       0
DIABETE3    0
CVDSTRK3    0
PHYSHLTH    0
_SMOKER3    0
MARITAL     0
_EDUCAG     0
IYEAR       0
_AGEG5YR    0
PERSDOC2    0
HTM4        0
CHECKUP1    0
_INCOMG     0
dtype: int64

In [72]:
data3.to_csv('WIP.csv',index = False)

## Map variables

In [4]:
data3 = pd.read_csv('WIP.csv')

In [5]:
data3.columns

Index(['_TOTINDA', 'WTKG3', 'CVDINFR4', 'PNEUVAC3', 'ASTHMA3', 'SEX',
       'MEDCOST', 'CVDCRHD4', '_STATE', 'MENTHLTH', '_LTASTH1', 'EXERANY2',
       'CHILDREN', 'DRNKANY5', 'GENHLTH', 'DROCDY3_', 'SMOKE100', '_BMI5',
       'DIABETE3', 'CVDSTRK3', 'PHYSHLTH', '_SMOKER3', 'MARITAL', '_EDUCAG',
       'IYEAR', '_AGEG5YR', 'PERSDOC2', 'HTM4', 'CHECKUP1', '_INCOMG'],
      dtype='object')

In [7]:
#data3 = data3.drop(columns=['_LTASTH1'])

In [8]:
#data3.shape

(4215003, 29)

In [88]:
data3.dtypes

_TOTINDA    float64
WTKG3       float64
CVDINFR4    float64
PNEUVAC3    float64
ASTHMA3     float64
SEX         float64
MEDCOST     float64
CVDCRHD4    float64
_STATE      float64
MENTHLTH    float64
EXERANY2    float64
CHILDREN    float64
DRNKANY5    float64
GENHLTH     float64
DROCDY3_    float64
SMOKE100    float64
_BMI5       float64
DIABETE3    float64
CVDSTRK3    float64
PHYSHLTH    float64
_SMOKER3    float64
MARITAL     float64
_EDUCAG     float64
IYEAR        object
_AGEG5YR    float64
PERSDOC2    float64
HTM4        float64
CHECKUP1    float64
_INCOMG     float64
dtype: object

In [9]:
data4 = data3.copy()

In [10]:
MEDCOST = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['MEDCOST']  = data4['MEDCOST'].map(MEDCOST)

In [11]:
CHECKUP1 = {1:'Within past year',2:'Within past 2 years',3:'Within past 5 years',\
           4:'5 or more years ago',7:'Don’t know/Not sure',8:'Never',9:'Refused to answer'}
data4['CHECKUP1']  = data4['CHECKUP1'].map(CHECKUP1)

In [12]:
MENTHLTH = {88:0,77:'Don’t know/Not sure',99:'Refused to answer',\
           1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16,\
           17:17,18:18,19:19,20:20,21:21,22:22,23:23,24:24,25:25,26:26,27:27,28:28,29:29,30:30}
data4['MENTHLTH']  = data4['MENTHLTH'].map(MENTHLTH)

In [13]:
SMOKE100 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['SMOKE100']  = data4['SMOKE100'].map(SMOKE100)

In [14]:
PHYSHLTH = {88:0,77:'Don’t know/Not sure',99:'Refused to answer',\
           1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16,\
           17:17,18:18,19:19,20:20,21:21,22:22,23:23,24:24,25:25,26:26,27:27,28:28,29:29,30:30}
data4['PHYSHLTH']  = data4['PHYSHLTH'].map(PHYSHLTH)

In [15]:
_INCOMG = {1:'Less than $15,000',2:'$15,000 to less than $25,000',3:'$25,000 to less than $35,000',\
          4:'$35,000 to less than $50,000',5:'$50,000 or more',9:'Don’t know/Not sure'}
data4['_INCOMG']  = data4['_INCOMG'].map(_INCOMG)

In [16]:
CVDSTRK3 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['CVDSTRK3']  = data4['CVDSTRK3'].map(CVDSTRK3)

In [17]:
DRNKANY5 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['DRNKANY5']  = data4['DRNKANY5'].map(DRNKANY5)

In [18]:
_TOTINDA = {1:'Had physical activity or exercise',2:'No physical activity or exercise in last 30 days',\
           9:'Don’t know/Refused'}
data4['_TOTINDA']  = data4['_TOTINDA'].map(_TOTINDA)

In [19]:
CVDINFR4 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['CVDINFR4']  = data4['CVDINFR4'].map(CVDINFR4)

In [20]:
data4['HTM4'].mean()

172.09218261529114

In [21]:
def replace_drocdy3(i):
    if i == 900:
        i = 'Don’t know/Not Sure'
    return i

In [22]:
data4['DROCDY3_'] = data4['DROCDY3_'].apply(replace_drocdy3)

In [23]:
PNEUVAC3 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['PNEUVAC3'] = data4['PNEUVAC3'].map(PNEUVAC3)

In [24]:
PERSDOC2 = {1:'Yes, only one',2:'More than one',3:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['PERSDOC2']  = data4['PERSDOC2'].map(PERSDOC2)

In [25]:
CVDCRHD4 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['CVDCRHD4']  = data4['CVDCRHD4'].map(CVDCRHD4)

In [26]:
DIABETE3 =  {1:'Yes',2:'Yes, but female told only during pregnancy',\
             3:'No',4:'No, pre-diabetes or borderline diabetes',7:'Don’t know/Not sure',\
             9:'Refused to answer'}
data4['DIABETE3']  = data4['DIABETE3'].map(DIABETE3)

In [27]:
def replace_children(i):
    if i == 99:
        i = 'Refused to answer'
    elif i == 88:
        i=0
    return i

In [77]:
replace_children(5)

5

In [78]:
replace_children(88)

0

In [79]:
replace_children(99)

'Refused to answer'

In [28]:
data4['CHILDREN'] = data4['CHILDREN'].apply(replace_children)

In [29]:
MARITAL = {1:'Married',2:'Divorced',3:'Widowed',4:'Separated',5:'Never married',6:'A member of an unmarried couple',9:'Refused to answer'}
data4['MARITAL']  = data4['MARITAL'].map(MARITAL)

In [32]:
data3['IYEAR'].unique()

array(["b'2017'", "b'2018'", "b'2016'", "b'2015'", "b'2014'", "b'2013'",
       "b'2012'", "b'2011'", "b'2010'", "b'2009'", "b'2008'"],
      dtype=object)

In [34]:
IYEAR = {"b'2017'":2017, "b'2018'":2018, "b'2016'":2016,"b'2015'":2015, "b'2014'":2014,\
         "b'2013'":2013, "b'2012'":2012, "b'2011'":2011, "b'2010'":2010, "b'2009'":2009, "b'2008'":2008}
data4['IYEAR']  = data4['IYEAR'].map(IYEAR)

In [35]:
data4['IYEAR'].unique()

array([2017, 2018, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008],
      dtype=int64)

In [36]:
_SMOKER3 = {1:'Everyday',2:'Sometimes',3:'Former Smoker',4:'Never Smoked',9:'Don’t know/Refused'}
data4['_SMOKER3']  = data4['_SMOKER3'].map(_SMOKER3)

In [37]:
GENHLTH = {1:'Excellent',2:'Very good',3:'Good',4:'Fair',5:'Poor',7:'Don’t know/Not Sure',9:'Refused to answer'}
data4['GENHLTH']  = data4['GENHLTH'].map(GENHLTH)

In [38]:
_STATE = {1:'Alabama',2:'Alaska',4:'Arizona',5:'Arkansas',6:'California',8:'Colorado',\
         9:'Connecticut',10:'Delaware',11:'District of Columbia',12:'Florida',13:'Georgia',\
         15:'Hawaii',16:'Idaho',17:'Illinois',18:'Indiana',19:'Iowa',20:'Kansas',21:'Kentucky',\
         22:'Louisiana',23:'Maine',24:'Maryland',25:'Massachusetts',26:'Michigan',27:'Minnesota',\
         28:'Mississippi',29:'Missouri',30:'Montana',31:'Nebraska',32:'Nevada',33:'New Hampshire',\
         34:'New Jersey',35:'New Mexico',36:'New York',37:'North Carolina',38:'North Dakota',\
         39:'Ohio',40:'Oklahoma',41:'Oregon',42:'Pennsylvania',44:'Rhode Island',\
         45:'South Carolina',46:'South Dakota',47:'Tennessee',48:'Texas',49:'Utah',50:'Vermont',\
         51:'Virginia',53:'Washington',54:'West Virginia',55:'Wisconsin',56:'Wyoming',\
         66:'Guam',72:'Puerto Rico',78:'Virgin Islands'
         }
data4['_STATE']  = data4['_STATE'].map(_STATE)

In [39]:
EXERANY2 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['EXERANY2']  = data4['EXERANY2'].map(EXERANY2)

In [40]:
_AGEG5YR ={1:'18-24',2:'25-29',3:'30-34',4:'35-39',5:'40-44',6:'45-49',7:'50-54',\
          8:'55-59',9:'60-64',10:'65-69',11:'70-74',12:'75-79',13:'80-99',14:'Don’t know/Refused'}
data4['_AGEG5YR']  = data4['_AGEG5YR'].map(_AGEG5YR)

In [41]:
ASTHMA3 = {1:'Yes',2:'No',7:'Don’t know/Not sure',9:'Refused to answer'}
data4['ASTHMA3']  = data4['ASTHMA3'].map(ASTHMA3)

In [42]:
_EDUCAG = {1:'Did not graduate High School',2:'Graduated High School',\
           3:'Attended College or Technical School',4:'Graduated from College or Technical School',\
          9:'Don’t know/Not sure'}
data4['_EDUCAG']  = data4['_EDUCAG'].map(_EDUCAG)

In [43]:
SEX = {1:'Male',2:'Female',9:'Refused to answer'}
data4['SEX']  = data4['SEX'].map(SEX)

In [44]:
data4['WTKG3'].max()

99999.0

In [45]:
data4['_BMI5'].max()

9999.0

In [46]:
def replace_wtkg3(i):
    if i == 99999:
        i = None
    return i

In [47]:
data4['WTKG3'] = data4['WTKG3'].apply(replace_wtkg3)

In [48]:
data4['WTKG3'].max()

32909.0

In [49]:
def show_decimal(i):
    i = i/100
    return i

In [50]:
data4['WTKG3'] = data4['WTKG3'].apply(show_decimal)

In [51]:
data4['WTKG3'].mean()

80.18330610215102

In [52]:
def replace_bmi5(i):
    if i == 9999:
        i = None
    return i

In [53]:
data4['_BMI5'] = data4['_BMI5'].apply(replace_bmi5)

In [54]:
data4['_BMI5'].max()

9998.0

In [55]:
data4['_BMI5'] = data4['_BMI5'].apply(show_decimal)

In [56]:
data4['_BMI5'].mean()

27.848822071344145

In [57]:
data4.isna().sum()/len(data4)

_TOTINDA    0.000000
WTKG3       0.011365
CVDINFR4    0.000000
PNEUVAC3    0.000000
ASTHMA3     0.000000
SEX         0.000000
MEDCOST     0.000000
CVDCRHD4    0.000000
_STATE      0.000000
MENTHLTH    0.000000
EXERANY2    0.000000
CHILDREN    0.000000
DRNKANY5    0.000000
GENHLTH     0.000000
DROCDY3_    0.000000
SMOKE100    0.000000
_BMI5       0.013159
DIABETE3    0.000000
CVDSTRK3    0.000000
PHYSHLTH    0.000000
_SMOKER3    0.000000
MARITAL     0.000000
_EDUCAG     0.000000
IYEAR       0.000000
_AGEG5YR    0.000000
PERSDOC2    0.000000
HTM4        0.000000
CHECKUP1    0.000000
_INCOMG     0.000000
dtype: float64

In [59]:
data4.shape

(4215003, 29)

In [61]:
data5 = data4[data4['IYEAR']!= 2018]

In [62]:
data5.shape

(4205491, 29)

In [63]:
data6 = data5.dropna()

In [64]:
data6.shape

(4150027, 29)

In [65]:
data6.isna().sum()

_TOTINDA    0
WTKG3       0
CVDINFR4    0
PNEUVAC3    0
ASTHMA3     0
SEX         0
MEDCOST     0
CVDCRHD4    0
_STATE      0
MENTHLTH    0
EXERANY2    0
CHILDREN    0
DRNKANY5    0
GENHLTH     0
DROCDY3_    0
SMOKE100    0
_BMI5       0
DIABETE3    0
CVDSTRK3    0
PHYSHLTH    0
_SMOKER3    0
MARITAL     0
_EDUCAG     0
IYEAR       0
_AGEG5YR    0
PERSDOC2    0
HTM4        0
CHECKUP1    0
_INCOMG     0
dtype: int64

In [66]:
data6.to_csv('BRFSS_2008_to_2017_cleaned_final.csv',index = False)

In [1]:
## Add unique identifier
import pandas as pd
df = pd.read_csv('BRFSS_2008_to_2017_cleaned_final.csv')
df['id_for_plot'] = range(len(df))

In [3]:
df.head().transpose()

,0,1,2,3,4
_TOTINDA,Had physical activity or exercise,Had physical activity or exercise,No physical activity or exercise in last 30 days,No physical activity or exercise in last 30 days,Had physical activity or exercise
WTKG3,73.48,95.71,88.45,63.5,88.9
CVDINFR4,No,No,No,No,Yes
PNEUVAC3,Yes,Yes,Yes,No,No
ASTHMA3,No,No,No,Yes,No
SEX,Female,Male,Male,Female,Male
MEDCOST,No,No,No,No,No
CVDCRHD4,No,No,No,No,No
_STATE,Alabama,Alabama,Alabama,Alabama,Alabama
MENTHLTH,0,0,0,0,0
EXERANY2,Yes,Yes,No,No,Yes
CHILDREN,0,0,0,0,0
DRNKANY5,No,No,Yes,No,Yes
GENHLTH,Very good,Very good,Good,Fair,Good
DROCDY3_,5.397605346934027e-79,5.397605346934027e-79,14.0,5.397605346934027e-79,29.0
SMOKE100,No,No,No,Yes,Yes
_BMI5,26.96,29.43,25.04,23.3,27.34
DIABETE3,Yes,No,No,No,No
CVDSTRK3,No,No,No,No,No
PHYSHLTH,0,0,0,14,6
_SMOKER3,Never Smoked,Never Smoked,Never Smoked,Former Smoker,Everyday
MARITAL,Widowed,Married,Married,Widowed,Widowed
_EDUCAG,Graduated from College or Technical School,Graduated from College or Technical School,Did not graduate High School,Did not graduate High School,Graduated High School
IYEAR,2017,2017,2017,2017,2017
_AGEG5YR,70-74,65-69,70-74,65-69,75-79
PERSDOC2,"Yes, only one","Yes, only one","Yes, only one","Yes, only one","Yes, only one"
HTM4,165,180,188,165,180
CHECKUP1,Within past 2 years,Within past year,Within past year,Within past year,Within past year
_INCOMG,"$35,000 to less than $50,000","$50,000 or more",Don’t know/Not sure,"Less than $15,000","$15,000 to less than $25,000"
id_for_plot,0,1,2,3,4

In [4]:
df.to_csv('BRFSS_2008_to_2017_cleaned_final_add_id.csv',index = False)